<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <form id="contact-form" role="form" action="" method="post">
                <div class="section-title" align="center">
                    <h2>Contacter nous !<small>Laissez ici votre message.</small></h2>
                </div>

                {{ include('contact_us_email/_form.html.twig') }}

            </form>
        </div>
    </div>
</div>