<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title" align="center">
                        <h2>Contact nous !<small>Laissez-nous votre message.</small></h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Entrez votre nom complet *" name="full_name" required="">

                            <input type="email" class="form-control" placeholder="Entrez votre email *" name="email" required="">

                            <input type="text" class="form-control" placeholder="Entrez votre numéro de téléphone" name="phone_number" required="">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <textarea class="form-control" rows="8" placeholder="Entrez votre message *" name="message" required=""></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12" align="center">
                            <input type="submit" class="form-control" name="send_contact_message" value="Envoyer">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>