<section id="depose-cv">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <h2>Commencez à déposer votre CV dès maintenant !</h2>

                    <figure>
                        <span><i class="fa fa-address-card"></i></span>
                        <figcaption>
                            <h3>Dépot de CV</h3>
                            <p>Que vous êtes à la recheche d'emploi, ou encore en poste à la recherche d'opportunité.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-bar-chart-o"></i></span>
                        <figcaption>
                            <h3>Etude</h3>
                            <p>Notre équipe s'engage à étudier chaque CV qui sont soumis.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-phone"></i></span>
                        <figcaption>
                            <h3>Contact</h3>
                            <p>Dès lors qu'une poste correspond à votre profil, et que votre CV a été retenu, nous vous contacterons au plus vite.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="entry-form">
                    <form action="#" method="post">
                        <h2>Soumettre mon CV</h2>
                        <input type="text" name="candidate_full_name" class="form-control" placeholder="Nom et prénom..." required="">

                        <input type="email" name="candidate_email" class="form-control" placeholder="Email..." required="">

                        <input type="file" name="candidate_cv" class="form-control" placeholder="Votre CV..." required="">

                        <button class="submit-btn form-control" id="form1-submit">Envoyer</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>