<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Human Talent Consulting SARL.</h2>
                        <hr>
                        <p>Human Talent Consulting (HTC) est un cabinet de recrutement qui met en valeur le talent et la valeur humaine.</p>
                    </div>
                    <address>
                        <p><u>Tel :</u> +261 34 10 826 36</p>
                        <p><u>Email :</u> <a href="mailto:contact@human-talent-consulting.com">contact@human-talent-consulting.com</a></p>
                        <p><u>Site web :</u> <a href="http://human-talent-consulting.com">human-talent-consulting.com</a></p>
                    </address>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>

                    <div class="copyright-text">
                        <p>Copyright &copy; {{ 'now'|date('Y') }} Human Talent Consulting</p>
                        {#<p>Design: <a rel="nofollow noopener" href="https://templatemo.com"
                                      title="free templates" target="_parent">Template Mo</a></p>#}
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Liens utiles</h2>
                        <hr>
                    </div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Nos prestations</a></li>
                            <li><a href="#">Déposez un CV</a></li>
                            <li><a href="#">Offre d'emploi</a></li>
                            <li><a href="#">Publications</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div>TODO : Ici Rejoingez-nous Facebook de HTC...</div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Newsletter</h2>
                        <hr>
                        <p>Vous souhaitez être tenu au courant des nouvelles, emplois, événements ? Abonnez-vous dès maintenant à notre newsletter.</p>
                    </div>
                    <div>
                        <div class="form-group">
                            <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Entrer votre email" name="newsletter_email" id="newsletter_email" required="">
                                <input type="submit" class="form-control" name="submit" id="form-submit" value="S'abonner">
                            </form>
                            <span><sup>*</sup> Rassurer vous ! - Nous allons pas spamer votre email.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>