<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Vous êtes une entreprise en développement ?</h1>
                            <h3>Vous avez des projets de développement ? Nous vous accompagnons dans votre développement et vous accompagnons tout au long de ce processus pour optimiser vos ressources humaines. Nous mettons tout en oeuvre afin que vous ayez des talents compétents et motivés continuellement.</h3>
                            {#<a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>#}
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Human talent consulting</h1>
                            <h3>Nous vous accompagnons dans vos projets RH. Avec Human Talent, externalisez vos missions de développement et de gestion RH. Avec nous, recrutez, gardez et développez les meilleurs talents.</h3>
                            {#<a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>#}
                        </div>
                    </div>
                </div>
            </div>

            {#<div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Efficient Learning Methods</h1>
                            <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero. Visit <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
</section>