{% extends 'base.html.twig' %}

{# Using : https://bootsnipp.com/snippets/featured/services-section-using-bootstrap-4 for services #}
{# Using : lokk at https://bootsnipp.com/snippets/featured/bootstrap-carousel-with-text for slider texts #}

{% block body %}
    <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

        <!-- HEADER -->
        {% include 'front/header.html.twig' %}

        <!-- HOME - SLIDER -->
        {% include 'front/home.html.twig' %}

        <!-- SERVICES -->
        {% include 'front/services.html.twig' %}

        <!-- ABOUT -->
        {% include 'front/deposit-cv.html.twig' %}

        <!-- Job list -->
        {% include 'front/job.html.twig' %}

        <!-- Posts -->
        {% include 'front/posts.html.twig' %}

        <!-- Contact -->
        {#{% include 'front/contact.html.twig' %}#}

        <!-- CONTACT -->
        <section id="contact">
            {{ render(controller('App\\Controller\\ContactUsEmailController::new')) }}
        </section>

        <!-- Footer -->
        {% include 'front/footer.html.twig' %}
    
    </body>
{% endblock %}

{#{% block javascripts %}
    {% include('contact_us_email/script/_form.script.html.twig') %}
{% endblock %}#}
