<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title-custom mb-2 h1">Nos prestations</h2>
        <p class="text-center text-muted h5">
            Human Talent Consulting a été créé afin de vous accompagner tout au long de votre développement. Bénéficiez d'une équipe passionnée sans avoir un grand service RH dans votre structure.
        </p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Recrutement</h3>
                        <p class="card-text">Renforcement de cadre et non cadre au sein des TPE et PME, mais aussi Offshore.</p>
                        {#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Formation</h3>
                        <p class="card-text">Renforcement de compétences ou accompagnement d'évolution de poste.</p>
                        {#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Evènement RH</h3>
                        <p class="card-text">Team building, soirée, les rencontres des équipes hors cadre du travail est bénéfique à la cohésion et à la motivation des collaborateurs.</p>
                        {#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Externalisation</h3>
                        <p class="card-text">Externalisez vos missions administratives à moindre valeur ajoutée pour vous permettre de vous concentrer sur votre coeur de métier.</p>
                        {#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Audit RH</h3>
                        <p class="card-text">Notre équipe vous propose des solutions et conseils que ce soit au niveau social, management ou administratives.</p>
                        {#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}
                    </div>
                </div>
            </div>
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Special title</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        #}{#<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>#}{#
                    </div>
                </div>
            </div>#}
        </div>
    </div>
</section>